{% extends 'bootstrap.html' %}

{% load i18n %}

{% block extra_head %}{% endblock %}

{% load url from future %}
{% load bootstrap3 %}
{% load account_tags %}

{% block bootstrap3_content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">     
        
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Link</a>
						</li>
                    </ul>
				</div>
				
			</nav>
            
            {% bootstrap_messages %}
            <div>
                {% block content %}(no content){% endblock %}
            </div>

		</div>
	</div>
   
</div>

{% endblock %}
