<script type="text/javascript">
    JSONEDITOR_ID = 'jsoneditor';
    STATIC_URL = '{{ STATIC_URL }}';
    FIELD_ID = '{{ field_id }}';

    JSONEDITOR = document.getElementById(JSONEDITOR_ID);
    FIELD = document.getElementById(FIELD_ID);
    INITIAL_JSON = {% if value %}{{ value|safe }}{% else %}""{% endif %};
    FIELD.value = JSON.stringify(INITIAL_JSON);

    function updateHidden() {
        var json = editor.get();
        FIELD.value = JSON.stringify(json);
    }

    options = {
        //'change': updateHidden,
        mode: 'code',
        modes: ['code', 'form', 'text', 'tree', 'view'],
        error: function (err) {
            alert(err.toString());
        }
    };

    
    editor = new JSONEditor(JSONEDITOR,options,FIELD.value);
    editor.set(INITIAL_JSON);
</script>
