div.DTE_Body div.DTE_Body_Content div.DTE_Field.DTE_Field_Type_saiyanField:hover {
  
}
 
div.DTE_Field.DTE_Field_Type_saiyanField label {
  
}
div.DTE_Body div.DTE_Body_Content div.DTE_Field.DTE_Field_Type_title:hover {
   background-color: white;
   border: 1px solid transparent;
}
 
div.DTE_Field.DTE_Field_Type_title label {
   width: 100% !important;
   font-size: 1.2em;
   font-weight: bold;
   border-bottom: 1px solid #aaa;
}
 
div.DTE_Field.DTE_Field_Type_title div {
   display: none;
} 

#skin-blur-violate {
   background-image: url("../images/violate.jpg");
}


.fond_filet_bottom {
    margin: -397px -115px 54px;
    position: absolute;
    z-index: -1;
}

#settings {
    position: fixed;
    right: 0;
    color: #000;
    background: rgba(255, 255, 255, 0.88);
    padding: 7px 8px;
    top: 120px;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
    font-family: open-sans-regular;
    border-radius: 5px 0px 0px 5px !important;
    line-height: 20px;
    width: 34px;
    white-space: nowrap;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    transition: width 300ms;
}

#settings i {
    font-size: 21px;
    float: left;
    margin-right: 10px;
}

#settings:hover {
    background: #fff;
    width: 130px;
}

.panel-title {
    margin-top: -4px;
    margin-bottom: 4px;
    font-size: 15px;
    color: inherit;
    padding: 0px 101px;
}
#content {
    overflow: auto;
    margin-top: -57px;
    background-color: #FFF;
    padding: 44px;
    margin-left: 54px;
}

.sk-spinner-three-bounce.sk-spinner {
    width: 70px;
    text-align: center;
    margin-top: -5%;
    margin-left: 45%;
}
.sk-spinner-three-bounce div {
    width: 18px;
    height: 18px;
    background-color: #006BB3;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
.sk-spinner-three-bounce .sk-bounce1 {

    margin:40px 12px;
    position: absolute;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }

.sk-spinner-three-bounce .sk-bounce2 {
    margin:19px -53px;
    position: absolute;
    -webkit-animation-delay: -0.32
        animation-delay: -0.32 }

.sk-spinner-three-bounce .sk-bounce3 {

    margin:57px 8px;
    position: absolute;
    -webkit-animation-delay: -0.78s;
    animation-delay: -0.78s; }
@-webkit-keyframes sk-threeBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1); } }
@keyframes sk-threeBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1); } }

.chargement {
    position: absolute;
z-index: 10;
margin-left: -28px;
margin-top: -13px;
width: 102%;
height: 104%;
opacity: 1;
background-color: #CDE6FB;
}



.nerimDeplace{

    margin-top: -151px;
    margin-left: 21px;

}

#home a {
    background-color: #0064C1;
    border-color: transparent;
}

.navbar-inverse {
    background-color: #0064C1;
    border-color: transparent;
}

.zoom {
    margin: 49px -10px;
    position: absolute;
}
.zoom p {
    text-align:center;
}
.zoom img {
    width:auto;
    height:46px;
}
.zoom img:hover {
    width:auto;
    height:60px;
}
#wrapper {
    top: 0px;
    bottom: 0px;
    left: -2px;
    right: 31px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    padding-bottom: 511px;
    background-color: #2C3E50;
    position: relative;
}
#content, #sidebar {
    position: absolute;
    top: 0px;

    left: 0px;
    right: 0px;
}
#sidebar{
    position: absolute;
    margin-top: 35px;
    background-color: #2C3E50;
    width: 85px;
    z-index: 1;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    margin-left: -86px;
    opacity: 0.85;
}

#sidebar i#toggle{
    margin-top:20px;
    display:inline-block;
    color:#3e5771
}

#sidebar ul#dock{
    margin:20px 200px 20px 0;
    padding:0;
    width:80px;
    text-align:center;
    color:#ecf0f1;

}

#sidebar ul#dock li.launcher{
    list-style:none;
    margin-top:25px;
    cursor:pointer
}

#sidebar ul#dock li.launcher>i{
    display:block;
    font-size:2.5em;
    margin-bottom:-2px
}

#sidebar ul#dock li.launcher>a{
    height:36px;
    display:block;
    position:relative;
    padding-top:36px;
    margin-top:-36px;
    text-decoration:none;
    color:#ecf0f1;
    font-size:0.8em
}

#sidebar ul#dock li.launcher ul.dropdown-menu{
    width:180px;
    border-left-width:0;
    text-align:left;
    position:absolute;
    margin-left:85px;
    top:8px
}

#sidebar ul#dock li.launcher ul.dropdown-menu>li>a{
    padding:5px 20px
}

#sidebar ul#dock li.launcher ul.dropdown-menu a,#sidebar ul#dock li.launcher ul.dropdown-menu li.dropdown-header{
    display:inline-block;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}

#sidebar ul#dock li.launcher ul.dropdown-menu li.dropdown-header{
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    color:#1abc9c;
    margin-top:-5px;
    padding:5px 20px
}

#sidebar ul#dock li.launcher ul.dropdown-menu li.dropdown-header:before{
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    position:absolute;
    margin-top:4px;
    margin-left:-25px;
    width:10px;
    height:10px;
    background-color:#2c3e50;
    content:" ";
    display:inline-block
}

#sidebar ul#dock li.launcher:hover>i,#sidebar ul#dock li.launcher:hover>a,#sidebar ul#dock li.launcher.active>i,#sidebar ul#dock li.launcher.active>a{
    -webkit-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
    -webkit-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
    color:#006BB3
}

#sidebar ul#dock li.launcher:hover:before,#sidebar ul#dock li.launcher.active:before{
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    content:"";
    display:inline-block;
    width:10px;
    height:10px;
    background-color:white;
    position:absolute;
    right:-6px;
    margin-top:22px
}



/*
* Style tweaks
* --------------------------------------------------
*/
html,

body {
    padding-top: 60px;
}
footer {
    padding: 30px 0;
}

/*
* Off Canvas
* --------------------------------------------------
*/
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: 0%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}


#circularG{
    position:relative;
    width:10px;
    height:10px}

.circularG{
    position:absolute;
    background-color:#2196F3;
    width:10px;
    height:10px;
    margin-top: -26px;
    margin-left: 77px;     
    -moz-border-radius:19px;
    -moz-animation-name:bounce_circularG;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:19px;
    -webkit-animation-name:bounce_circularG;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:19px;
    -ms-animation-name:bounce_circularG;
    -ms-animation-duration:1.04s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:19px;
    -o-animation-name:bounce_circularG;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:19px;
    animation-name:bounce_circularG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#circularG_1{
    left:0;
    top:50px;
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

#circularG_2{
    left:14px;
    top:14px;
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}

#circularG_3{
    top:0;
    left:50px;
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

#circularG_4{
    right:14px;
    top:14px;
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    animation-delay:0.78s;
}

#circularG_5{
    right:0;
    top:50px;
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    animation-delay:0.91s;
}

#circularG_6{
    right:14px;
    bottom:14px;
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    animation-delay:1.04s;
}

#circularG_7{
    left:50px;
    bottom:0;
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    animation-delay:1.17s;
}

#circularG_8{
    left:14px;
    bottom:14px;
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    animation-delay:1.3s;
}

@-moz-keyframes bounce_circularG{
    0%{
        -moz-transform:scale(1)}

    100%{
        -moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circularG{
    0%{
        -webkit-transform:scale(1)}

    100%{
        -webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circularG{
    0%{
        -ms-transform:scale(1)}

    100%{
        -ms-transform:scale(.3)}

}

@-o-keyframes bounce_circularG{
    0%{
        -o-transform:scale(1)}

    100%{
        -o-transform:scale(.3)}

}

@keyframes bounce_circularG{
    0%{
        transform:scale(1)}

    100%{
        transform:scale(.3)}
    - See more at: http://cssload.net/#sthash.g8L2eS58.dpuf

.nerimLogo2{

    vertical-align: middle;
    position: absolute;
    margin: -200px -74px;
}
.nerimLogo3{

    vertical-align: middle;
    position: absolute;
    margin: -500px -74px;
}

